In [75]:
%pip install streamlit_autorefresh

Requirement already satisfied: streamlit_autorefresh in d:\data analytics\python\software\python install\lib\site-packages (1.0.1)
Requirement already satisfied: streamlit>=0.75 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit_autorefresh) (1.48.1)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<6,>=4.0 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (6.1.0)
Requirement already satisfied: click<9,>=7.0 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (8.2.1)
Requirement already satisfied: numpy<3,>=1.23 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (2.2.5)
Requirement already satisfied: packaging<26,>=20 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (25.0)
Requirement already satisfied: pandas<3,>=1.4.0 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (2.2.3)
Requirement already satisfied: pillow<12,>=7.1.0 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (11.2.1)
Requirement already satisfied: protobuf<7,>=3.20 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (6.31.1)
Requirement already satisfied: pyarrow>=7.0 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (21.0.0)
Requirement already satisfied: requests<3,>=2.27 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (4.13.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in d:\data analytics\python\software\python install\lib\site-packages (from streamlit>=0.75->streamlit_autorefresh) (6.4.2)
Requirement already satisfied: jinja2 in d:\data analytics\python\software\python install\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit>=0.75->streamlit_autorefresh) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in d:\data analytics\python\software\python install\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit>=0.75->streamlit_autorefresh) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in d:\data analytics\python\software\python install\lib\site-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit>=0.75->streamlit_autorefresh) (2.1.1)
Requirement already satisfied: colorama in d:\data analytics\python\software\python install\lib\site-packages (from click<9,>=7.0->streamlit>=0.75->streamlit_autorefresh) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in d:\data analytics\python\software\python install\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit>=0.75->streamlit_autorefresh) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in d:\data analytics\python\software\python install\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit>=0.75->streamlit_autorefresh) (5.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\data analytics\python\software\python install\lib\site-packages (from pandas<3,>=1.4.0->streamlit>=0.75->streamlit_autorefresh) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\data analytics\python\software\python install\lib\site-packages (from pandas<3,>=1.4.0->streamlit>=0.75->streamlit_autorefresh) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\data analytics\python\software\python install\lib\site-packages (from pandas<3,>=1.4.0->streamlit>=0.75->streamlit_autorefresh) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\data analytics\python\software\python install\lib\site-packages (from requests<3,>=2.27->streamlit>=0.75->streamlit_autorefresh) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in d:\data analytics\python\software\python install\lib\site-packages (from requests<3,>=2.27->streamlit>=0.75->streamlit_autorefresh) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\data analytics\python\software\python install\lib\site-packages (from requests<3,>=2.27->streamlit>=0.75->streamlit_autorefresh) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\data analytics\python\software\python install\lib\site-packages (from requests<3,>=2.27->streamlit>=0.75->streamlit_autorefresh) (2025.1.31)
Requirement already satisfied: MarkupSafe>=2.0 in d:\data analytics\python\software\python install\lib\site-packages (from jinja2->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit>=0.75->streamlit_autorefresh) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in d:\data analytics\python\software\python install\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit>=0.75->streamlit_autorefresh) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in d:\data analytics\python\software\python install\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit>=0.75->streamlit_autorefresh) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in d:\data analytics\python\software\python install\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit>=0.75->streamlit_autorefresh) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in d:\data analytics\python\software\python install\lib\site-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit>=0.75->streamlit_autorefresh) (0.24.0)
Requirement already satisfied: six>=1.5 in d:\data analytics\python\software\python install\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit>=0.75->streamlit_autorefresh) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import requests
import streamlit as st
from streamlit_autorefresh import st_autorefresh

2025-09-09 21:20:58.615 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [87]:
from cbrapid_api import call_rapid
from Multipage_AppFile.Crick_Buzz_Analysis.pages.json_dataframe import fn_matchID_automator,json_normlZer,json_exploder,fn_exploder

In [78]:
raw_json= call_rapid(url = "https://cricbuzz-cricket.p.rapidapi.com/matches/v1/recent")

In [79]:
# 
# headers ={"x-rapidapi-key": "5f98d33565mshc842ac16c3dc8f8p1b6043jsn093d91c71834",
#           "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"}
# response =requests.get(url, headers= headers)
# raw_json= response.json()

In [80]:
raw_json

{'message': 'You have exceeded the MONTHLY quota for Requests on your current plan, BASIC. Upgrade your plan at https://rapidapi.com/cricketapilive/api/cricbuzz-cricket'}

In [ ]:
# df_tm =pd.json_normalize(raw_json['typeMatches'])
# df_tm # Normalise "raw_json"  based on key - "typeMatches"

NameError: name 'raw_json' is not defined

In [ ]:
# df_tm_In_EXP=df_tm['seriesMatches'][df_tm['matchType']== 'International'].explode()
# df_tm_In_EXP

NameError: name 'df_tm' is not defined

In [ ]:
df_International = pd.json_normalize(df_tm_In_EXP)
df_International

,seriesAdWrapper.seriesId,seriesAdWrapper.seriesName,seriesAdWrapper.matches,ad.name,ad.layout,ad.position
0,8788.0,"South Africa tour of England, 2025","[{'matchInfo': {'matchId': 105794, 'seriesId':...",NaN,NaN,NaN
1,10642.0,United Arab Emirates T20I Tri-Series 2025,"[{'matchInfo': {'matchId': 131092, 'seriesId':...",NaN,NaN,NaN
2,7572.0,ICC Cricket World Cup League Two 2023-27,"[{'matchInfo': {'matchId': 128919, 'seriesId':...",NaN,NaN,NaN
3,10647.0,Netherlands tour of Bangladesh 2025,"[{'matchInfo': {'matchId': 131119, 'seriesId':...",NaN,NaN,NaN
4,10267.0,"Sri Lanka tour of Zimbabwe, 2025","[{'matchInfo': {'matchId': 122973, 'seriesId':...",NaN,NaN,NaN
5,NaN,NaN,NaN,native_matches,native_large,5.0
6,10812.0,Sweden tour of Isle Of Man 2025,"[{'matchInfo': {'matchId': 133176, 'seriesId':...",NaN,NaN,NaN

In [ ]:
dfint_expP= df_International['seriesAdWrapper.matches'].explode()
dfint_expP

0    {'matchInfo': {'matchId': 105794, 'seriesId': ...
0    {'matchInfo': {'matchId': 105788, 'seriesId': ...
0    {'matchInfo': {'matchId': 105786, 'seriesId': ...
1    {'matchInfo': {'matchId': 131092, 'seriesId': ...
1    {'matchInfo': {'matchId': 131075, 'seriesId': ...
1    {'matchInfo': {'matchId': 131070, 'seriesId': ...
1    {'matchInfo': {'matchId': 131086, 'seriesId': ...
1    {'matchInfo': {'matchId': 131064, 'seriesId': ...
2    {'matchInfo': {'matchId': 128919, 'seriesId': ...
2    {'matchInfo': {'matchId': 128908, 'seriesId': ...
2    {'matchInfo': {'matchId': 128902, 'seriesId': ...
3    {'matchInfo': {'matchId': 131119, 'seriesId': ...
3    {'matchInfo': {'matchId': 131114, 'seriesId': ...
4    {'matchInfo': {'matchId': 122973, 'seriesId': ...
4    {'matchInfo': {'matchId': 122968, 'seriesId': ...
4    {'matchInfo': {'matchId': 122962, 'seriesId': ...
5                                                  NaN
6    {'matchInfo': {'matchId': 133176, 'seriesId': ...
6    {'matchInfo': {'matchId': 133171, 'seriesId': ...
6    {'matchInfo': {'matchId': 133160, 'seriesId': ...
Name: seriesAdWrapper.matches, dtype: object

In [ ]:
df_tm_International = pd.json_normalize(dfint_expP)
df_tm_International # Recent International match data

,matchInfo.matchId,matchInfo.seriesId,matchInfo.seriesName,matchInfo.matchDesc,matchInfo.matchFormat,matchInfo.startDate,matchInfo.endDate,matchInfo.state,matchInfo.status,matchInfo.team1.teamId,...,matchInfo.stateTitle,matchScore.team1Score.inngs1.inningsId,matchScore.team1Score.inngs1.runs,matchScore.team1Score.inngs1.wickets,matchScore.team1Score.inngs1.overs,matchScore.team2Score.inngs1.inningsId,matchScore.team2Score.inngs1.runs,matchScore.team2Score.inngs1.wickets,matchScore.team2Score.inngs1.overs,matchInfo.isTournament
0,105794.0,8788.0,"South Africa tour of England, 2025",3rd ODI,ODI,1757239200000,1757268000000,Complete,England won by 342 runs,9.0,...,ENG Won,1.0,414.0,5.0,49.6,2.0,72.0,10.0,20.5,NaN
1,105788.0,8788.0,"South Africa tour of England, 2025",2nd ODI,ODI,1756987200000,1757016000000,Complete,South Africa won by 5 runs,11.0,...,RSA Won,1.0,330.0,8.0,49.6,2.0,325.0,9.0,49.6,NaN
2,105786.0,8788.0,"South Africa tour of England, 2025",1st ODI,ODI,1756814400000,1756843200000,Complete,South Africa won by 7 wkts,9.0,...,RSA Won,1.0,131.0,10.0,24.3,2.0,137.0,3.0,20.5,NaN
3,131092.0,10642.0,United Arab Emirates T20I Tri-Series 2025,Final,T20,1757257200000,1757269800000,Complete,Pakistan won by 75 runs,3.0,...,Complete,1.0,141.0,8.0,19.6,2.0,66.0,10.0,15.5,NaN
4,131075.0,10642.0,United Arab Emirates T20I Tri-Series 2025,5th Match,T20,1756998000000,1757010600000,Complete,Pakistan won by 31 runs,3.0,...,PAK Won,1.0,171.0,5.0,19.6,2.0,140.0,7.0,19.6,NaN
5,131070.0,10642.0,United Arab Emirates T20I Tri-Series 2025,4th Match,T20,1756825200000,1756837800000,Complete,Afghanistan won by 18 runs,96.0,...,AFG Won,1.0,169.0,5.0,19.6,2.0,151.0,9.0,19.6,NaN
6,131086.0,10642.0,United Arab Emirates T20I Tri-Series 2025,6th Match,T20,1757084400000,1757097000000,Complete,Afghanistan won by 4 runs,96.0,...,AFG Won,1.0,170.0,4.0,19.6,2.0,166.0,5.0,19.6,NaN
7,131064.0,10642.0,United Arab Emirates T20I Tri-Series 2025,3rd Match,T20,1756738800000,1756751400000,Complete,Afghanistan won by 38 runs,96.0,...,AFG Won,1.0,188.0,4.0,19.6,2.0,150.0,8.0,19.6,NaN
8,128919.0,7572.0,ICC Cricket World Cup League Two 2023-27,85th Match,ODI,1757169000000,1757197800000,Abandon,Match abandoned due to wet outfield (no toss),26.0,...,Abandon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
9,128908.0,7572.0,ICC Cricket World Cup League Two 2023-27,84th Match,ODI,1756996200000,1757025000000,Complete,Scotland won by 55 runs (24 overs game due to ...,23.0,...,SCO Won,1.0,164.0,10.0,23.6,2.0,109.0,10.0,21.2,NaN
10,128902.0,7572.0,ICC Cricket World Cup League Two 2023-27,83rd Match,ODI,1756823400000,1756852200000,Complete,Namibia won by 24 runs,161.0,...,NAM Won,1.0,261.0,8.0,49.6,2.0,237.0,10.0,48.3,NaN
11,131119.0,10647.0,Netherlands tour of Bangladesh 2025,3rd T20I,T20,1756900800000,1756913400000,Complete,No result due to rain,6.0,...,Complete,1.0,164.0,4.0,18.2,NaN,NaN,NaN,NaN,NaN
12,131114.0,10647.0,Netherlands tour of Bangladesh 2025,2nd T20I,T20,1756728000000,1756740600000,Complete,Bangladesh won by 9 wkts,24.0,...,BAN Won,1.0,103.0,10.0,17.3,2.0,104.0,1.0,13.1,NaN
13,122973.0,10267.0,"Sri Lanka tour of Zimbabwe, 2025",3rd T20I,T20,1757244600000,1757257200000,Complete,Sri Lanka won by 8 wkts,12.0,...,SL Won,1.0,191.0,8.0,19.6,2.0,193.0,2.0,17.4,NaN
14,122968.0,10267.0,"Sri Lanka tour of Zimbabwe, 2025",2nd T20I,T20,1757158200000,1757170800000,Complete,Zimbabwe won by 5 wkts,5.0,...,ZIM Won,1.0,80.0,10.0,17.4,2.0,84.0,5.0,14.2,NaN
15,122962.0,10267.0,"Sri Lanka tour of Zimbabwe, 2025",1st T20I,T20,1756899000000,1756911600000,Complete,Sri Lanka won by 4 wkts,12.0,...,SL Won,1.0,175.0,7.0,19.6,2.0,177.0,6.0,19.1,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,133176.0,10812.0,Sweden tour of Isle Of Man 2025,3rd T20I,T20,1757239200000,1757251800000,Abandon,Match abandoned without toss,557.0,...,Abandon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,133171.0,10812.0,Sweden tour of Isle Of Man 2025,2nd T20I,T20,1757169000000,1757181600000,Complete,Sweden won by 3 wkts,557.0,...,Complete,1.0,114.0,10.0,19.5,2.0,116.0,7.0,14.3,NaN
19,133160.0,10812.0,Sweden tour of Isle Of Man 2025,1st T20I,T20,1757152800000,1757165400000,Complete,Sweden won by 10 wkts,557.0,...,Complete,1.0,78.0,10.0,16.1,2.0,81.0,NaN,10.5,NaN

In [ ]:
df_tm_L_Exp= df_tm['seriesMatches'][df_tm['matchType']=='League'].explode()
df_tm_L_Exp

1    {'seriesAdWrapper': {'seriesId': 9575, 'series...
1    {'seriesAdWrapper': {'seriesId': 9257, 'series...
1    {'seriesAdWrapper': {'seriesId': 10735, 'serie...
1    {'seriesAdWrapper': {'seriesId': 10620, 'serie...
Name: seriesMatches, dtype: object

In [ ]:
df_tm_Lg= pd.json_normalize(df_tm_L_Exp)
df_tm_Lg

,seriesAdWrapper.seriesId,seriesAdWrapper.seriesName,seriesAdWrapper.matches
0,9575,Caribbean Premier League 2025,"[{'matchInfo': {'matchId': 116774, 'seriesId':..."
1,9257,T20 Blast 2025,"[{'matchInfo': {'matchId': 111081, 'seriesId':..."
2,10735,Uttar Pradesh Premier League 2025,"[{'matchInfo': {'matchId': 132648, 'seriesId':..."
3,10620,Kerala Cricket League 2025,"[{'matchInfo': {'matchId': 130806, 'seriesId':..."

In [ ]:
df_tm_Lg_exp=df_tm_Lg['seriesAdWrapper.matches'].explode()
df_tm_Lg_exp

0    {'matchInfo': {'matchId': 116774, 'seriesId': ...
0    {'matchInfo': {'matchId': 116765, 'seriesId': ...
0    {'matchInfo': {'matchId': 116750, 'seriesId': ...
0    {'matchInfo': {'matchId': 116759, 'seriesId': ...
0    {'matchInfo': {'matchId': 116729, 'seriesId': ...
0    {'matchInfo': {'matchId': 116741, 'seriesId': ...
0    {'matchInfo': {'matchId': 116738, 'seriesId': ...
1    {'matchInfo': {'matchId': 111081, 'seriesId': ...
1    {'matchInfo': {'matchId': 111073, 'seriesId': ...
1    {'matchInfo': {'matchId': 111069, 'seriesId': ...
1    {'matchInfo': {'matchId': 111061, 'seriesId': ...
2    {'matchInfo': {'matchId': 132648, 'seriesId': ...
2    {'matchInfo': {'matchId': 132637, 'seriesId': ...
2    {'matchInfo': {'matchId': 132632, 'seriesId': ...
2    {'matchInfo': {'matchId': 132621, 'seriesId': ...
2    {'matchInfo': {'matchId': 132610, 'seriesId': ...
3    {'matchInfo': {'matchId': 130806, 'seriesId': ...
3    {'matchInfo': {'matchId': 130795, 'seriesId': ...
3    {'matchInfo': {'matchId': 130751, 'seriesId': ...
3    {'matchInfo': {'matchId': 130784, 'seriesId': ...
3    {'matchInfo': {'matchId': 130729, 'seriesId': ...
3    {'matchInfo': {'matchId': 130778, 'seriesId': ...
3    {'matchInfo': {'matchId': 130762, 'seriesId': ...
3    {'matchInfo': {'matchId': 130740, 'seriesId': ...
3    {'matchInfo': {'matchId': 130756, 'seriesId': ...
3    {'matchInfo': {'matchId': 130773, 'seriesId': ...
3    {'matchInfo': {'matchId': 130734, 'seriesId': ...
Name: seriesAdWrapper.matches, dtype: object

In [ ]:
df_tm_League =pd.json_normalize(df_tm_Lg_exp) # Recent League match data
df_tm_League.head()

,matchInfo.matchId,matchInfo.seriesId,matchInfo.seriesName,matchInfo.matchDesc,matchInfo.matchFormat,matchInfo.startDate,matchInfo.endDate,matchInfo.state,matchInfo.status,matchInfo.team1.teamId,...,matchInfo.isTimeAnnounced,matchInfo.stateTitle,matchScore.team1Score.inngs1.inningsId,matchScore.team1Score.inngs1.runs,matchScore.team1Score.inngs1.wickets,matchScore.team1Score.inngs1.overs,matchScore.team2Score.inngs1.inningsId,matchScore.team2Score.inngs1.runs,matchScore.team2Score.inngs1.wickets,matchScore.team2Score.inngs1.overs
0,116774,9575,Caribbean Premier League 2025,25th Match,T20,1757289600000,1757302200000,Complete,St Kitts and Nevis Patriots won by 5 runs,302,...,True,Complete,1,149,6,19.6,2,144,8.0,19.6
1,116765,9575,Caribbean Premier League 2025,24th Match,T20,1757257200000,1757269800000,Complete,Barbados Royals won by 27 runs,262,...,True,BR Won,1,191,5,19.6,2,164,9.0,19.6
2,116750,9575,Caribbean Premier League 2025,22nd Match,T20,1757113200000,1757125800000,Complete,Antigua and Barbuda Falcons won by 4 wkts,262,...,True,ABF Won,1,187,4,19.6,2,188,6.0,19.6
3,116759,9575,Caribbean Premier League 2025,23rd Match,T20,1757199600000,1757212200000,Complete,Guyana Amazon Warriors won by 3 wkts,271,...,True,GAW Won,1,167,5,19.6,2,168,7.0,19.5
4,116729,9575,Caribbean Premier League 2025,19th Match,T20,1756738800000,1756751400000,Complete,Trinbago Knight Riders won by 12 runs,271,...,True,TKR Won,1,179,6,19.6,2,167,6.0,19.6

In [ ]:
df_tm_League['matchInfo.startDate']=pd.to_numeric(df_tm_League['matchInfo.startDate'],errors='coerce')
df_tm_League['matchInfo.endDate']=pd.to_numeric(df_tm_League['matchInfo.endDate'],errors='coerce')

In [ ]:
df_tm_League['matchInfo.startDate']=pd.to_datetime(df_tm_League['matchInfo.startDate'],unit='ms')
df_tm_League['matchInfo.endDate'] = pd.to_datetime(df_tm_League['matchInfo.endDate'], unit='ms')

In [ ]:
df_tm_League.head()

,matchInfo.matchId,matchInfo.seriesId,matchInfo.seriesName,matchInfo.matchDesc,matchInfo.matchFormat,matchInfo.startDate,matchInfo.endDate,matchInfo.state,matchInfo.status,matchInfo.team1.teamId,...,matchInfo.isTimeAnnounced,matchInfo.stateTitle,matchScore.team1Score.inngs1.inningsId,matchScore.team1Score.inngs1.runs,matchScore.team1Score.inngs1.wickets,matchScore.team1Score.inngs1.overs,matchScore.team2Score.inngs1.inningsId,matchScore.team2Score.inngs1.runs,matchScore.team2Score.inngs1.wickets,matchScore.team2Score.inngs1.overs
0,116774,9575,Caribbean Premier League 2025,25th Match,T20,2025-09-08 00:00:00,2025-09-08 03:30:00,Complete,St Kitts and Nevis Patriots won by 5 runs,302,...,True,Complete,1,149,6,19.6,2,144,8.0,19.6
1,116765,9575,Caribbean Premier League 2025,24th Match,T20,2025-09-07 15:00:00,2025-09-07 18:30:00,Complete,Barbados Royals won by 27 runs,262,...,True,BR Won,1,191,5,19.6,2,164,9.0,19.6
2,116750,9575,Caribbean Premier League 2025,22nd Match,T20,2025-09-05 23:00:00,2025-09-06 02:30:00,Complete,Antigua and Barbuda Falcons won by 4 wkts,262,...,True,ABF Won,1,187,4,19.6,2,188,6.0,19.6
3,116759,9575,Caribbean Premier League 2025,23rd Match,T20,2025-09-06 23:00:00,2025-09-07 02:30:00,Complete,Guyana Amazon Warriors won by 3 wkts,271,...,True,GAW Won,1,167,5,19.6,2,168,7.0,19.5
4,116729,9575,Caribbean Premier League 2025,19th Match,T20,2025-09-01 15:00:00,2025-09-01 18:30:00,Complete,Trinbago Knight Riders won by 12 runs,271,...,True,TKR Won,1,179,6,19.6,2,167,6.0,19.6

In [ ]:
# df_tm_L_Exp= df_tm['seriesMatches'][df_tm['matchType']=='League'].explode()
df_tm_dom = df_tm['seriesMatches'][df_tm['matchType']=='Domestic'].explode()
df_tm_dom

2    {'seriesAdWrapper': {'seriesId': 10311, 'serie...
2    {'seriesAdWrapper': {'seriesId': 9557, 'series...
Name: seriesMatches, dtype: object

In [ ]:
df_tm_dom_raw= pd.json_normalize(df_tm_dom)
df_tm_dom_raw

,seriesAdWrapper.seriesId,seriesAdWrapper.seriesName,seriesAdWrapper.matches
0,10311,Duleep Trophy 2025,"[{'matchInfo': {'matchId': 123672, 'seriesId':..."
1,9557,"New Zealand A tour of South Africa, 2025","[{'matchInfo': {'matchId': 116489, 'seriesId':..."

In [ ]:
df_tm_dom_exp=df_tm_dom_raw['seriesAdWrapper.matches'].explode()
df_tm_dom_exp

0    {'matchInfo': {'matchId': 123672, 'seriesId': ...
0    {'matchInfo': {'matchId': 123677, 'seriesId': ...
1    {'matchInfo': {'matchId': 116489, 'seriesId': ...
1    {'matchInfo': {'matchId': 116480, 'seriesId': ...
Name: seriesAdWrapper.matches, dtype: object

In [ ]:
df_tm_domestics= pd.json_normalize(df_tm_dom_exp)
df_tm_domestics.head() # Recent domestics match data

,matchInfo.matchId,matchInfo.seriesId,matchInfo.seriesName,matchInfo.matchDesc,matchInfo.matchFormat,matchInfo.startDate,matchInfo.endDate,matchInfo.state,matchInfo.status,matchInfo.team1.teamId,...,matchScore.team1Score.inngs1.overs,matchScore.team1Score.inngs2.inningsId,matchScore.team1Score.inngs2.runs,matchScore.team1Score.inngs2.wickets,matchScore.team1Score.inngs2.overs,matchScore.team2Score.inngs1.inningsId,matchScore.team2Score.inngs1.runs,matchScore.team2Score.inngs1.wickets,matchScore.team2Score.inngs1.overs,matchInfo.currBatTeamId
0,123672,10311,Duleep Trophy 2025,1st Semi-Final,TEST,1756958400000,1757242800000,Complete,Match drawn,236,...,169.2,3.0,95.0,1.0,24.4,2,361,10,100.1,NaN
1,123677,10311,Duleep Trophy 2025,2nd Semi-Final,TEST,1756958400000,1757242800000,Complete,Match drawn,234,...,107.6,3.0,216.0,8.0,53.3,2,600,10,164.3,NaN
2,116489,9557,"New Zealand A tour of South Africa, 2025",3rd Unofficial ODI,ODI,1756886400000,1756915200000,Complete,New Zealand A won by 18 runs (DLS method),268,...,49.6,NaN,NaN,NaN,NaN,2,310,4,44.6,80.0
3,116480,9557,"New Zealand A tour of South Africa, 2025",2nd Unofficial ODI,ODI,1756713600000,1756742400000,Complete,South Africa A won by 7 wkts,80,...,49.2,NaN,NaN,NaN,NaN,2,249,3,42.6,268.0

In [ ]:
df_tm_domestics['matchInfo.startDate']=pd.to_numeric(df_tm_domestics['matchInfo.startDate'], errors='coerce')
df_tm_domestics['matchInfo.endDate']=pd.to_numeric(df_tm_domestics['matchInfo.endDate'],  errors='coerce')

In [ ]:
df_tm_domestics['matchInfo.startDate']=pd.to_datetime(df_tm_domestics['matchInfo.startDate'], unit='ms')
df_tm_domestics['matchInfo.endDate']=pd.to_datetime(df_tm_domestics['matchInfo.endDate'], unit='ms')
df_tm_domestics.head()

,matchInfo.matchId,matchInfo.seriesId,matchInfo.seriesName,matchInfo.matchDesc,matchInfo.matchFormat,matchInfo.startDate,matchInfo.endDate,matchInfo.state,matchInfo.status,matchInfo.team1.teamId,...,matchScore.team1Score.inngs1.overs,matchScore.team1Score.inngs2.inningsId,matchScore.team1Score.inngs2.runs,matchScore.team1Score.inngs2.wickets,matchScore.team1Score.inngs2.overs,matchScore.team2Score.inngs1.inningsId,matchScore.team2Score.inngs1.runs,matchScore.team2Score.inngs1.wickets,matchScore.team2Score.inngs1.overs,matchInfo.currBatTeamId
0,123672,10311,Duleep Trophy 2025,1st Semi-Final,TEST,2025-09-04 04:00:00,2025-09-07 11:00:00,Complete,Match drawn,236,...,169.2,3.0,95.0,1.0,24.4,2,361,10,100.1,NaN
1,123677,10311,Duleep Trophy 2025,2nd Semi-Final,TEST,2025-09-04 04:00:00,2025-09-07 11:00:00,Complete,Match drawn,234,...,107.6,3.0,216.0,8.0,53.3,2,600,10,164.3,NaN
2,116489,9557,"New Zealand A tour of South Africa, 2025",3rd Unofficial ODI,ODI,2025-09-03 08:00:00,2025-09-03 16:00:00,Complete,New Zealand A won by 18 runs (DLS method),268,...,49.6,NaN,NaN,NaN,NaN,2,310,4,44.6,80.0
3,116480,9557,"New Zealand A tour of South Africa, 2025",2nd Unofficial ODI,ODI,2025-09-01 08:00:00,2025-09-01 16:00:00,Complete,South Africa A won by 7 wkts,80,...,49.2,NaN,NaN,NaN,NaN,2,249,3,42.6,268.0

In [ ]:
df_tm_wom=df_tm['seriesMatches'][df_tm['matchType']=='Women'].explode()
df_tm_wom

3    {'seriesAdWrapper': {'seriesId': 10785, 'serie...
3    {'seriesAdWrapper': {'seriesId': 10851, 'serie...
3    {'seriesAdWrapper': {'seriesId': 10856, 'serie...
3    {'seriesAdWrapper': {'seriesId': 10697, 'serie...
3    {'seriesAdWrapper': {'seriesId': 10141, 'serie...
Name: seriesMatches, dtype: object

In [ ]:
df_tm_womN =  pd.json_normalize(df_tm_wom)
df_tm_womN

,seriesAdWrapper.seriesId,seriesAdWrapper.seriesName,seriesAdWrapper.matches
0,10785,Czech Republic Women tour Estonia 2025,"[{'matchInfo': {'matchId': 133066, 'seriesId':..."
1,10851,Womens ICC T20 Tri-Series 2025,"[{'matchInfo': {'matchId': 133776, 'seriesId':..."
2,10856,Japan Women tour of Fiji 2025,"[{'matchInfo': {'matchId': 133798, 'seriesId':..."
3,10697,ICC Womens T20 World Cup Africa Region Divisio...,"[{'matchInfo': {'matchId': 131675, 'seriesId':..."
4,10141,Womens Caribbean Premier League 2025,"[{'matchInfo': {'matchId': 122093, 'seriesId':..."

In [ ]:
df_tm_womN_exp = df_tm_womN['seriesAdWrapper.matches'].explode()
df_tm_Women = pd.json_normalize(df_tm_womN_exp)
df_tm_Women.head()

,matchInfo.matchId,matchInfo.seriesId,matchInfo.seriesName,matchInfo.matchDesc,matchInfo.matchFormat,matchInfo.startDate,matchInfo.endDate,matchInfo.state,matchInfo.status,matchInfo.team1.teamId,...,matchInfo.stateTitle,matchScore.team1Score.inngs1.inningsId,matchScore.team1Score.inngs1.runs,matchScore.team1Score.inngs1.wickets,matchScore.team1Score.inngs1.overs,matchScore.team2Score.inngs1.inningsId,matchScore.team2Score.inngs1.runs,matchScore.team2Score.inngs1.wickets,matchScore.team2Score.inngs1.overs,matchInfo.isTournament
0,133066,10785,Czech Republic Women tour Estonia 2025,3rd T20I,T20,1757228400000,1757241000000,Complete,Estonia Women won by 7 wkts,1987,...,Complete,1.0,57.0,10.0,19.5,2.0,58.0,3.0,9.6,NaN
1,133061,10785,Czech Republic Women tour Estonia 2025,2nd T20I,T20,1757161800000,1757174400000,Complete,Estonia Women won by 115 runs,1521,...,ESTW Won,1.0,153.0,5.0,20.0,2.0,38.0,10.0,12.1,NaN
2,133055,10785,Czech Republic Women tour Estonia 2025,1st T20I,T20,1757145600000,1757158200000,Complete,Estonia Women won by 1 wkt,1987,...,ESTW Won,1.0,107.0,6.0,20.0,2.0,108.0,9.0,19.4,NaN
3,133776,10851,Womens ICC T20 Tri-Series 2025,5th Match,T20,1756891800000,1756904400000,Abandon,Match abandoned due to rain (no toss),1032,...,Abandon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,133754,10851,Womens ICC T20 Tri-Series 2025,3rd Match,T20,1756737000000,1756749600000,Abandon,Match abandoned without a ball being bowled (N...,1032,...,Abandon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [ ]:
df_tm_Women['matchInfo.startDate'] = pd.to_numeric(df_tm_Women['matchInfo.startDate'], errors='coerce')
df_tm_Women['matchInfo.endDate'] = pd.to_numeric(df_tm_Women['matchInfo.endDate'],errors='coerce')

In [ ]:
df_tm_Women['matchInfo.startDate'] = pd.to_datetime(df_tm_Women['matchInfo.startDate'], unit='ms')
df_tm_Women['matchInfo.endDate'] = pd.to_datetime(df_tm_Women['matchInfo.endDate'], unit='ms')

In [ ]:
df_tm_Women.head()

,matchInfo.matchId,matchInfo.seriesId,matchInfo.seriesName,matchInfo.matchDesc,matchInfo.matchFormat,matchInfo.startDate,matchInfo.endDate,matchInfo.state,matchInfo.status,matchInfo.team1.teamId,...,matchInfo.stateTitle,matchScore.team1Score.inngs1.inningsId,matchScore.team1Score.inngs1.runs,matchScore.team1Score.inngs1.wickets,matchScore.team1Score.inngs1.overs,matchScore.team2Score.inngs1.inningsId,matchScore.team2Score.inngs1.runs,matchScore.team2Score.inngs1.wickets,matchScore.team2Score.inngs1.overs,matchInfo.isTournament
0,133066,10785,Czech Republic Women tour Estonia 2025,3rd T20I,T20,2025-09-07 07:00:00,2025-09-07 10:30:00,Complete,Estonia Women won by 7 wkts,1987,...,Complete,1.0,57.0,10.0,19.5,2.0,58.0,3.0,9.6,NaN
1,133061,10785,Czech Republic Women tour Estonia 2025,2nd T20I,T20,2025-09-06 12:30:00,2025-09-06 16:00:00,Complete,Estonia Women won by 115 runs,1521,...,ESTW Won,1.0,153.0,5.0,20.0,2.0,38.0,10.0,12.1,NaN
2,133055,10785,Czech Republic Women tour Estonia 2025,1st T20I,T20,2025-09-06 08:00:00,2025-09-06 11:30:00,Complete,Estonia Women won by 1 wkt,1987,...,ESTW Won,1.0,107.0,6.0,20.0,2.0,108.0,9.0,19.4,NaN
3,133776,10851,Womens ICC T20 Tri-Series 2025,5th Match,T20,2025-09-03 09:30:00,2025-09-03 13:00:00,Abandon,Match abandoned due to rain (no toss),1032,...,Abandon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,133754,10851,Womens ICC T20 Tri-Series 2025,3rd Match,T20,2025-09-01 14:30:00,2025-09-01 18:00:00,Abandon,Match abandoned without a ball being bowled (N...,1032,...,Abandon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [ ]:
df_tm_International['matchInfo.matchId'].isna().sum()

np.int64(1)

In [ ]:
df_tm_International= df_tm_International.dropna(subset=['matchInfo.matchId'])
df_tm_International['matchInfo.matchId']

0     105794.0
1     105788.0
2     105786.0
3     131092.0
4     131075.0
5     131070.0
6     131086.0
7     131064.0
8     128919.0
9     128908.0
10    128902.0
11    131119.0
12    131114.0
13    122973.0
14    122968.0
15    122962.0
17    133176.0
18    133171.0
19    133160.0
Name: matchInfo.matchId, dtype: float64

In [ ]:
# df_tm_Women.fillna()

In [ ]:
# df_tm_Women.columns.tolist()
columns_tab_intn=df_tm_Women.columns
dtype_tab_intn=df_tm_Women.dtypes

def map_pandas_dtype_Mysql(dtype):
    if pd.api.types.is_integer_dtype(dtype):
        return 'INT'
    if pd.api.types.is_float_dtype(dtype):
        return 'FLOAT'
    if pd.api.types.is_bool_dtype(dtype):
        return 'BOOLEAN'
    if pd.api.types.is_datetime64_any_dtype(dtype):
        return 'DATETIME'
    if pd.api.types.is_object_dtype(dtype):
        return 'VARCHAR(75)'
    else:
        return 'VARCHAR(75)'

column_array =[]
cols_m=', '.join(["%s"]*len(columns_tab_intn.tolist()))
for colz, dtypz in zip(columns_tab_intn, dtype_tab_intn):

    map_dtypes= map_pandas_dtype_Mysql(dtype=dtypz)
    if colz == 'matchInfo.matchId':
        column_array.append(f"{colz} {map_dtypes} PRIMARY KEY")
    else:
        column_array.append(f"{colz} {map_dtypes}")
sql_columns=','.join(column_array)
cols_m=', '.join(["%s"]*len(columns_tab_intn.tolist()))
cols_wonExp=', '.join([f"@{cols}" for cols in columns_tab_intn.tolist()])

print(cols_wonExp)
print()
print(column_array)
print()
print(sql_columns)
print()
print(cols_m)

@matchInfo.matchId, @matchInfo.seriesId, @matchInfo.seriesName, @matchInfo.matchDesc, @matchInfo.matchFormat, @matchInfo.startDate, @matchInfo.endDate, @matchInfo.state, @matchInfo.status, @matchInfo.team1.teamId, @matchInfo.team1.teamName, @matchInfo.team1.teamSName, @matchInfo.team1.imageId, @matchInfo.team2.teamId, @matchInfo.team2.teamName, @matchInfo.team2.teamSName, @matchInfo.team2.imageId, @matchInfo.venueInfo.id, @matchInfo.venueInfo.ground, @matchInfo.venueInfo.city, @matchInfo.venueInfo.timezone, @matchInfo.venueInfo.latitude, @matchInfo.venueInfo.longitude, @matchInfo.currBatTeamId, @matchInfo.seriesStartDt, @matchInfo.seriesEndDt, @matchInfo.isTimeAnnounced, @matchInfo.stateTitle, @matchScore.team1Score.inngs1.inningsId, @matchScore.team1Score.inngs1.runs, @matchScore.team1Score.inngs1.wickets, @matchScore.team1Score.inngs1.overs, @matchScore.team2Score.inngs1.inningsId, @matchScore.team2Score.inngs1.runs, @matchScore.team2Score.inngs1.wickets, @matchScore.team2Score.inngs1.overs, @matchInfo.isTournament

['matchInfo.matchId INT PRIMARY KEY', 'matchInfo.seriesId INT', 'matchInfo.seriesName VARCHAR(75)', 'matchInfo.matchDesc VARCHAR(75)', 'matchInfo.matchFormat VARCHAR(75)', 'matchInfo.startDate DATETIME', 'matchInfo.endDate DATETIME', 'matchInfo.state VARCHAR(75)', 'matchInfo.status VARCHAR(75)', 'matchInfo.team1.teamId INT', 'matchInfo.team1.teamName VARCHAR(75)', 'matchInfo.team1.teamSName VARCHAR(75)', 'matchInfo.team1.imageId INT', 'matchInfo.team2.teamId INT', 'matchInfo.team2.teamName VARCHAR(75)', 'matchInfo.team2.teamSName VARCHAR(75)', 'matchInfo.team2.imageId INT', 'matchInfo.venueInfo.id INT', 'matchInfo.venueInfo.ground VARCHAR(75)', 'matchInfo.venueInfo.city VARCHAR(75)', 'matchInfo.venueInfo.timezone VARCHAR(75)', 'matchInfo.venueInfo.latitude VARCHAR(75)', 'matchInfo.venueInfo.longitude VARCHAR(75)', 'matchInfo.currBatTeamId FLOAT', 'matchInfo.seriesStartDt VARCHAR(75)', 'matchInfo.seriesEndDt VARCHAR(75)', 'matchInfo.isTimeAnnounced BOOLEAN', 'matchInfo.stateTitle VARCHAR(75)', 'matchScore.team1Score.inngs1.inningsId FLOAT', 'matchScore.team1Score.inngs1.runs FLOAT', 'matchScore.team1Score.inngs1.wickets FLOAT', 'matchScore.team1Score.inngs1.overs FLOAT', 'matchScore.team2Score.inngs1.inningsId FLOAT', 'matchScore.team2Score.inngs1.runs FLOAT', 'matchScore.team2Score.inngs1.wickets FLOAT', 'matchScore.team2Score.inngs1.overs FLOAT', 'matchInfo.isTournament VARCHAR(75)']

matchInfo.matchId INT PRIMARY KEY,matchInfo.seriesId INT,matchInfo.seriesName VARCHAR(75),matchInfo.matchDesc VARCHAR(75),matchInfo.matchFormat VARCHAR(75),matchInfo.startDate DATETIME,matchInfo.endDate DATETIME,matchInfo.state VARCHAR(75),matchInfo.status VARCHAR(75),matchInfo.team1.teamId INT,matchInfo.team1.teamName VARCHAR(75),matchInfo.team1.teamSName VARCHAR(75),matchInfo.team1.imageId INT,matchInfo.team2.teamId INT,matchInfo.team2.teamName VARCHAR(75),matchInfo.team2.teamSName VARCHAR(75),matchInfo.team2.imageId INT,matchInfo.venueInfo.id INT,matchInfo.venueInfo.ground VARCHAR(75),matchInfo.venueInfo.city VARCHAR(75),matchInfo.venueInfo.timezone VARCHAR(75),matchInfo.venueInfo.latitude VARCHAR(75),matchInfo.venueInfo.longitude VARCHAR(75),matchInfo.currBatTeamId FLOAT,matchInfo.seriesStartDt VARCHAR(75),matchInfo.seriesEndDt VARCHAR(75),matchInfo.isTimeAnnounced BOOLEAN,matchInfo.stateTitle VARCHAR(75),matchScore.team1Score.inngs1.inningsId FLOAT,matchScore.team1Score.inngs1.runs FLOAT,matchScore.team1Score.inngs1.wickets FLOAT,matchScore.team1Score.inngs1.overs FLOAT,matchScore.team2Score.inngs1.inningsId FLOAT,matchScore.team2Score.inngs1.runs FLOAT,matchScore.team2Score.inngs1.wickets FLOAT,matchScore.team2Score.inngs1.overs FLOAT,matchInfo.isTournament VARCHAR(75)

%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s

In [ ]:
dtwm=df_tm_Women.columns.tolist()

In [ ]:
sql_cols =','.join(dtwm)
sql_cols

'matchInfo.matchId,matchInfo.seriesId,matchInfo.seriesName,matchInfo.matchDesc,matchInfo.matchFormat,matchInfo.startDate,matchInfo.endDate,matchInfo.state,matchInfo.status,matchInfo.team1.teamId,matchInfo.team1.teamName,matchInfo.team1.teamSName,matchInfo.team1.imageId,matchInfo.team2.teamId,matchInfo.team2.teamName,matchInfo.team2.teamSName,matchInfo.team2.imageId,matchInfo.venueInfo.id,matchInfo.venueInfo.ground,matchInfo.venueInfo.city,matchInfo.venueInfo.timezone,matchInfo.venueInfo.latitude,matchInfo.venueInfo.longitude,matchInfo.currBatTeamId,matchInfo.seriesStartDt,matchInfo.seriesEndDt,matchInfo.isTimeAnnounced,matchInfo.stateTitle,matchScore.team1Score.inngs1.inningsId,matchScore.team1Score.inngs1.runs,matchScore.team1Score.inngs1.wickets,matchScore.team1Score.inngs1.overs,matchScore.team2Score.inngs1.inningsId,matchScore.team2Score.inngs1.runs,matchScore.team2Score.inngs1.wickets,matchScore.team2Score.inngs1.overs,matchInfo.isTournament'

In [ ]:
dt_mlkdfh= ','.join([f"{cols}" for cols in dtwm])
dt_mlkdfh

'matchInfo.matchId,matchInfo.seriesId,matchInfo.seriesName,matchInfo.matchDesc,matchInfo.matchFormat,matchInfo.startDate,matchInfo.endDate,matchInfo.state,matchInfo.status,matchInfo.team1.teamId,matchInfo.team1.teamName,matchInfo.team1.teamSName,matchInfo.team1.imageId,matchInfo.team2.teamId,matchInfo.team2.teamName,matchInfo.team2.teamSName,matchInfo.team2.imageId,matchInfo.venueInfo.id,matchInfo.venueInfo.ground,matchInfo.venueInfo.city,matchInfo.venueInfo.timezone,matchInfo.venueInfo.latitude,matchInfo.venueInfo.longitude,matchInfo.currBatTeamId,matchInfo.seriesStartDt,matchInfo.seriesEndDt,matchInfo.isTimeAnnounced,matchInfo.stateTitle,matchScore.team1Score.inngs1.inningsId,matchScore.team1Score.inngs1.runs,matchScore.team1Score.inngs1.wickets,matchScore.team1Score.inngs1.overs,matchScore.team2Score.inngs1.inningsId,matchScore.team2Score.inngs1.runs,matchScore.team2Score.inngs1.wickets,matchScore.team2Score.inngs1.overs,matchInfo.isTournament'

In [ ]:
# datalist= df_tm_Women.values.tolist()
# datalist_join= ','.join(datalist)
datalist = df_tm_Women.values.tolist()
# datalist2 = [','.join(map(str, datalist))]
datalist2 =[tuple(ros) for ros in df_tm_Women.values]
# datalist2 = [list(i) for i in df_tm_Women.values]
# datalist_join = [' ,'.join(map(str, row)) for row in datalist]
# print(datalist)
print()
print(type(datalist2))
print()
print(datalist2)

<class 'list'>

[(133066, 10785, 'Czech Republic Women tour Estonia 2025', '3rd T20I', 'T20', Timestamp('2025-09-07 07:00:00'), Timestamp('2025-09-07 10:30:00'), 'Complete', 'Estonia Women won by 7 wkts', 1987, 'Czech Republic Women', 'CZEW', 501075, 1521, 'Estonia Women', 'ESTW', 315349, 1552, 'Estonian National Cricket and Rugby Field', 'Tallinn', '+03:00', '59.43696', '24.75353', 1521.0, '1757030400000', '1757289600000', True, 'Complete', 1.0, 57.0, 10.0, 19.5, 2.0, 58.0, 3.0, 9.6, nan), (133061, 10785, 'Czech Republic Women tour Estonia 2025', '2nd T20I', 'T20', Timestamp('2025-09-06 12:30:00'), Timestamp('2025-09-06 16:00:00'), 'Complete', 'Estonia Women won by 115 runs', 1521, 'Estonia Women', 'ESTW', 315349, 1987, 'Czech Republic Women', 'CZEW', 501075, 1552, 'Estonian National Cricket and Rugby Field', 'Tallinn', '+03:00', '59.43696', '24.75353', 1521.0, '1757030400000', '1757289600000', True, 'ESTW Won', 1.0, 153.0, 5.0, 20.0, 2.0, 38.0, 10.0, 12.1, nan), (133055, 10785, 'Czech Republic Women tour Estonia 2025', '1st T20I', 'T20', Timestamp('2025-09-06 08:00:00'), Timestamp('2025-09-06 11:30:00'), 'Complete', 'Estonia Women won by 1 wkt', 1987, 'Czech Republic Women', 'CZEW', 501075, 1521, 'Estonia Women', 'ESTW', 315349, 1552, 'Estonian National Cricket and Rugby Field', 'Tallinn', '+03:00', '59.43696', '24.75353', 1521.0, '1757030400000', '1757289600000', True, 'ESTW Won', 1.0, 107.0, 6.0, 20.0, 2.0, 108.0, 9.0, 19.4, nan), (133776, 10851, 'Womens ICC T20 Tri-Series 2025', '5th Match', 'T20', Timestamp('2025-09-03 09:30:00'), Timestamp('2025-09-03 13:00:00'), 'Abandon', 'Match abandoned due to rain (no toss)', 1032, 'Jersey Women', 'JERW', 248421, 491, 'Brazil Women', 'BRAW', 172539, 1438153, 'New Farnley Cricket Club', 'Leeds', '+01:00', '53.77646', '-1.6235', nan, '1756512000000', '1757030400000', True, 'Abandon', nan, nan, nan, nan, nan, nan, nan, nan, True), (133754, 10851, 'Womens ICC T20 Tri-Series 2025', '3rd Match', 'T20', Timestamp('2025-09-01 14:30:00'), Timestamp('2025-09-01 18:00:00'), 'Abandon', 'Match abandoned without a ball being bowled (No toss)', 1032, 'Jersey Women', 'JERW', 248421, 1209, 'Isle of Man Women', 'IOMW', 248416, 1438153, 'New Farnley Cricket Club', 'Leeds', '+01:00', '53.77646', '-1.6235', nan, '1756512000000', '1757030400000', True, 'Abandon', nan, nan, nan, nan, nan, nan, nan, nan, True), (133792, 10851, 'Womens ICC T20 Tri-Series 2025', '7th Match', 'T20', Timestamp('2025-09-04 09:30:00'), Timestamp('2025-09-04 13:00:00'), 'Complete', 'Brazil Women won by 8 wkts', 1032, 'Jersey Women', 'JERW', 248421, 491, 'Brazil Women', 'BRAW', 172539, 1438153, 'New Farnley Cricket Club', 'Leeds', '+01:00', '53.77646', '-1.6235', 491.0, '1756512000000', '1757030400000', True, 'BRAW Won', 1.0, 122.0, 10.0, 18.3, 2.0, 126.0, 2.0, 15.3, nan), (133787, 10851, 'Womens ICC T20 Tri-Series 2025', '6th Match', 'T20', Timestamp('2025-09-03 14:30:00'), Timestamp('2025-09-03 18:00:00'), 'Complete', 'Brazil Women won by 20 runs (7 overs game due to rain)', 491, 'Brazil Women', 'BRAW', 172539, 1032, 'Jersey Women', 'JERW', 248421, 1438153, 'New Farnley Cricket Club', 'Leeds', '+01:00', '53.77646', '-1.6235', 491.0, '1756512000000', '1757030400000', True, 'BRAW Won', 1.0, 70.0, 1.0, 6.6, 2.0, 62.0, 5.0, 6.6, nan), (133765, 10851, 'Womens ICC T20 Tri-Series 2025', '4th Match', 'T20', Timestamp('2025-09-02 09:30:00'), Timestamp('2025-09-02 13:00:00'), 'Complete', 'Isle of Man Women won by 7 wkts', 1032, 'Jersey Women', 'JERW', 248421, 1209, 'Isle of Man Women', 'IOMW', 248416, 1438153, 'New Farnley Cricket Club', 'Leeds', '+01:00', '53.77646', '-1.6235', 1209.0, '1756512000000', '1757030400000', True, 'IOMW Won', 1.0, 115.0, 7.0, 19.6, 2.0, 116.0, 3.0, 14.1, nan), (133748, 10851, 'Womens ICC T20 Tri-Series 2025', '2nd Match', 'T20', Timestamp('2025-09-01 09:30:00'), Timestamp('2025-09-01 13:00:00'), 'Complete', 'Brazil Women won by 105 runs', 491, 'Brazil Women', 'BRAW', 172539, 1209, 'Isle of Man Women', 'IOMW', 248416, 1438153, 'New Farnley Cricket Club', 'Leeds', '+01:00', '53.77646', '-1.6235', 491.0, '1756512000000', '1757030400000', True, 'BRAW Won', 1.0, 145.0, 6.0, 19.6, 2.0, 40.0, 10.0, 12.5, nan), (133798, 10856, 'Japan Women tour of Fiji 2025', '1st T20I', 'T20', Timestamp('2025-09-05 02:00:00'), Timestamp('2025-09-05 05:30:00'), 'Complete', 'Japan Women won by 23 runs', 487, 'Japan Women', 'JPNW', 248419, 1181, 'Fiji Women', 'FIJIW', 248411, 1438120, 'Albert Park 1', 'Suva', '+12:00', '-18.1472049', '178.4223645', 487.0, '1756944000000', '1757203200000', True, 'JPNW Won', 1.0, 120.0, 10.0, 19.6, 2.0, 97.0, 7.0, 19.6, nan), (133809, 10856, 'Japan Women tour of Fiji 2025', '2nd T20I', 'T20', Timestamp('2025-09-05 22:00:00'), Timestamp('2025-09-06 01:30:00'), 'Complete', 'Japan Women won by 104 runs', 487, 'Japan Women', 'JPNW', 248419, 1181, 'Fiji Women', 'FIJIW', 248411, 1438120, 'Albert Park 1', 'Suva', '+12:00', '-18.1472049', '178.4223645', 487.0, '1756944000000', '1757203200000', True, 'JPNW Won', 1.0, 155.0, 5.0, 19.6, 2.0, 51.0, 10.0, 12.3, nan), (131675, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '5th Place Play-off', 'T20', Timestamp('2025-09-06 11:50:00'), Timestamp('2025-09-06 15:20:00'), 'Complete', 'Rwanda Women won by 6 runs', 720, 'Rwanda Women', 'RWAW', 248448, 501, 'Kenya Women', 'KENW', 172550, 1438052, 'High Performance Oval', 'Windhoek', '+02:00', '-22.5859618', '17.0436255', 720.0, '1756512000000', '1757203200000', True, 'RWAW Won', 1.0, 122.0, 5.0, 19.6, 2.0, 116.0, 6.0, 19.6, nan), (131686, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', 'Final', 'T20', Timestamp('2025-09-06 11:50:00'), Timestamp('2025-09-06 15:20:00'), 'Complete', 'Zimbabwe Women won by 9 wkts', 503, 'Namibia Women', 'NAMW', 172552, 388, 'Zimbabwe Women', 'ZIMW', 172441, 1438021, 'Namibia Cricket Ground', ' Windhoek', '+02:00', '-22.5872377', '17.0677249', 388.0, '1756512000000', '1757203200000', True, 'ZIMW Won', 1.0, 115.0, 7.0, 19.6, 2.0, 116.0, 1.0, 16.3, nan), (131664, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '3rd place play-off', 'T20', Timestamp('2025-09-06 07:30:00'), Timestamp('2025-09-06 11:00:00'), 'Complete', 'Tanzania Women won by 6 runs', 483, 'Tanzania Women', 'TANW', 172531, 448, 'Uganda Women', 'UGAW', 172496, 1438021, 'Namibia Cricket Ground', ' Windhoek', '+02:00', '-22.5872377', '17.0677249', 483.0, '1756512000000', '1757203200000', True, 'TANW Won', 1.0, 109.0, 5.0, 19.6, 2.0, 103.0, 10.0, 19.4, nan), (131609, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '10th Match, Group A', 'T20', Timestamp('2025-09-03 07:30:00'), Timestamp('2025-09-03 11:00:00'), 'Complete', 'Namibia Women won by 152 runs', 503, 'Namibia Women', 'NAMW', 172552, 490, 'Sierra Leone Women', 'SLEW', 172538, 1438052, 'High Performance Oval', 'Windhoek', '+02:00', '-22.5859618', '17.0436255', 503.0, '1756512000000', '1757203200000', True, 'NAMW Won', 1.0, 228.0, 1.0, 19.6, 2.0, 76.0, 10.0, 19.5, nan), (131653, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '5th Place Play-off 2nd Semi-Final', 'T20', Timestamp('2025-09-04 11:50:00'), Timestamp('2025-09-04 15:20:00'), 'Complete', 'Rwanda Women won by 50 runs', 720, 'Rwanda Women', 'RWAW', 248448, 490, 'Sierra Leone Women', 'SLEW', 172538, 1438052, 'High Performance Oval', 'Windhoek', '+02:00', '-22.5859618', '17.0436255', 720.0, '1756512000000', '1757203200000', True, 'RWAW Won', 1.0, 162.0, 5.0, 19.6, 2.0, 112.0, 6.0, 19.6, nan), (131647, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '2nd semi-final', 'T20', Timestamp('2025-09-04 11:50:00'), Timestamp('2025-09-04 15:20:00'), 'Complete', 'Namibia Women won by 8 wkts', 483, 'Tanzania Women', 'TANW', 172531, 503, 'Namibia Women', 'NAMW', 172552, 1438021, 'Namibia Cricket Ground', ' Windhoek', '+02:00', '-22.5872377', '17.0677249', 503.0, '1756512000000', '1757203200000', True, 'NAMW Won', 1.0, 75.0, 8.0, 19.6, 2.0, 77.0, 2.0, 13.5, nan), (131631, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '1st semi-final', 'T20', Timestamp('2025-09-04 07:30:00'), Timestamp('2025-09-04 11:00:00'), 'Complete', 'Zimbabwe Women won by 5 wkts', 448, 'Uganda Women', 'UGAW', 172496, 388, 'Zimbabwe Women', 'ZIMW', 172441, 1438021, 'Namibia Cricket Ground', ' Windhoek', '+02:00', '-22.5872377', '17.0677249', 388.0, '1756512000000', '1757203200000', True, 'ZIMW Won', 1.0, 119.0, 7.0, 19.6, 2.0, 120.0, 5.0, 17.4, nan), (131669, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '7th Place Play-off', 'T20', Timestamp('2025-09-06 07:30:00'), Timestamp('2025-09-06 11:00:00'), 'Complete', 'Nigeria Women won by 85 runs', 1482, 'Nigeria Women', 'NGAW', 273957, 490, 'Sierra Leone Women', 'SLEW', 172538, 1438052, 'High Performance Oval', 'Windhoek', '+02:00', '-22.5859618', '17.0436255', 1482.0, '1756512000000', '1757203200000', True, 'NGAW Won', 1.0, 159.0, 4.0, 19.6, 2.0, 74.0, 9.0, 19.6, nan), (131642, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '5th Place Play-off 1st Semi-Final', 'T20', Timestamp('2025-09-04 07:30:00'), Timestamp('2025-09-04 11:00:00'), 'Complete', 'Kenya Women won by 7 runs', 501, 'Kenya Women', 'KENW', 172550, 1482, 'Nigeria Women', 'NGAW', 273957, 1438052, 'High Performance Oval', 'Windhoek', '+02:00', '-22.5859618', '17.0436255', 501.0, '1756512000000', '1757203200000', True, 'KENW Won', 1.0, 105.0, 7.0, 19.6, 2.0, 98.0, 10.0, 18.5, nan), (131576, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '7th Match, Group A', 'T20', Timestamp('2025-09-01 11:50:00'), Timestamp('2025-09-01 15:20:00'), 'Complete', 'Namibia Women won by 8 wkts', 1482, 'Nigeria Women', 'NGAW', 273957, 503, 'Namibia Women', 'NAMW', 172552, 1438021, 'Namibia Cricket Ground', ' Windhoek', '+02:00', '-22.5872377', '17.0677249', 503.0, '1756512000000', '1757203200000', True, 'NAMW Won', 1.0, 70.0, 10.0, 18.4, 2.0, 71.0, 2.0, 9.5, nan), (131625, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '12th Match, Group A', 'T20', Timestamp('2025-09-03 11:50:00'), Timestamp('2025-09-03 15:20:00'), 'Complete', 'Zimbabwe Women won by 10 wkts', 1482, 'Nigeria Women', 'NGAW', 273957, 388, 'Zimbabwe Women', 'ZIMW', 172441, 1438052, 'High Performance Oval', 'Windhoek', '+02:00', '-22.5859618', '17.0436255', 388.0, '1756512000000', '1757203200000', True, 'ZIMW Won', 1.0, 90.0, 10.0, 19.5, 2.0, 93.0, nan, 14.2, nan), (131614, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '11th Match, Group B', 'T20', Timestamp('2025-09-03 11:50:00'), Timestamp('2025-09-03 15:20:00'), 'Complete', 'Uganda Women won by 8 wkts', 501, 'Kenya Women', 'KENW', 172550, 448, 'Uganda Women', 'UGAW', 172496, 1438021, 'Namibia Cricket Ground', ' Windhoek', '+02:00', '-22.5872377', '17.0677249', 448.0, '1756512000000', '1757203200000', True, 'UGAW Won', 1.0, 107.0, 8.0, 19.6, 2.0, 108.0, 2.0, 18.4, nan), (131598, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '9th Match, Group B', 'T20', Timestamp('2025-09-03 07:30:00'), Timestamp('2025-09-03 11:00:00'), 'Complete', 'Tanzania Women won by 18 runs', 483, 'Tanzania Women', 'TANW', 172531, 720, 'Rwanda Women', 'RWAW', 248448, 1438021, 'Namibia Cricket Ground', ' Windhoek', '+02:00', '-22.5872377', '17.0677249', 483.0, '1756512000000', '1757203200000', True, 'TANW Won', 1.0, 123.0, 4.0, 19.6, 2.0, 105.0, 8.0, 19.6, nan), (131565, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '6th Match, Group B', 'T20', Timestamp('2025-09-01 07:30:00'), Timestamp('2025-09-01 11:00:00'), 'Complete', 'Tanzania Women won by 30 runs', 483, 'Tanzania Women', 'TANW', 172531, 501, 'Kenya Women', 'KENW', 172550, 1438052, 'High Performance Oval', 'Windhoek', '+02:00', '-22.5859618', '17.0436255', 483.0, '1756512000000', '1757203200000', True, 'TANW Won', 1.0, 125.0, 8.0, 19.6, 2.0, 95.0, 10.0, 19.5, nan), (131587, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '8th Match, Group B', 'T20', Timestamp('2025-09-01 11:50:00'), Timestamp('2025-09-01 15:20:00'), 'Complete', 'Uganda Women won by 8 wkts', 720, 'Rwanda Women', 'RWAW', 248448, 448, 'Uganda Women', 'UGAW', 172496, 1438052, 'High Performance Oval', 'Windhoek', '+02:00', '-22.5859618', '17.0436255', 448.0, '1756512000000', '1757203200000', True, 'UGAW Won', 1.0, 114.0, 10.0, 19.5, 2.0, 116.0, 2.0, 16.3, nan), (131554, 10697, 'ICC Womens T20 World Cup Africa Region Division One Qualifier 2025', '5th Match, Group A', 'T20', Timestamp('2025-09-01 07:30:00'), Timestamp('2025-09-01 11:00:00'), 'Complete', 'Zimbabwe Women won by 10 wkts', 490, 'Sierra Leone Women', 'SLEW', 172538, 388, 'Zimbabwe Women', 'ZIMW', 172441, 1438021, 'Namibia Cricket Ground', ' Windhoek', '+02:00', '-22.5872377', '17.0677249', 388.0, '1756512000000', '1757203200000', True, 'ZIMW Won', 1.0, 93.0, 9.0, 19.6, 2.0, 94.0, nan, 11.6, nan), (122093, 10141, 'Womens Caribbean Premier League 2025', '2nd Match', 'T20', Timestamp('2025-09-07 19:00:00'), Timestamp('2025-09-07 22:30:00'), 'Complete', 'Barbados Royals Women won by 7 wkts (DLS method)', 1144, 'Guyana Amazon Warriors Women', 'GAWW', 241607, 1137, 'Barbados Royals Women', 'BRW', 241608, 110, 'Providence Stadium', 'Guyana', '-04:00', '41.823872', '-71.411987', 1137.0, '1757030400000', '1758153600000', True, 'Complete', 1.0, 154.0, 4.0, 19.6, 2.0, 140.0, 3.0, 17.2, nan), (122082, 10141, 'Womens Caribbean Premier League 2025', '1st Match', 'T20', Timestamp('2025-09-06 18:00:00'), Timestamp('2025-09-06 21:30:00'), 'Complete', 'Guyana Amazon Warriors Women won by 6 runs', 1144, 'Guyana Amazon Warriors Women', 'GAWW', 241607, 1139, 'Trinbago Knight Riders Women', 'TKRW', 241610, 110, 'Providence Stadium', 'Guyana', '-04:00', '41.823872', '-71.411987', 1144.0, '1757030400000', '1758153600000', True, 'GAWW Won', 1.0, 129.0, 7.0, 19.6, 2.0, 123.0, 9.0, 19.6, nan)]

In [ ]:
raw_json_live = call_rapid(url="https://cricbuzz-cricket.p.rapidapi.com/matches/v1/live")

if raw_json_live is not None:
    try:
        raw_json_live
    except Exception as error_e:
        print(error_e)

In [ ]:
df_lv_norM = pd.json_normalize(raw_json_live)
df_lv_norM.head()

,typeMatches,responseLastUpdated,filters.matchType,appIndex.seoTitle,appIndex.webURL
0,"[{'matchType': 'League', 'seriesMatches': [{'s...",1757312341,"[International, League, Domestic, Women]",Live Cricket Score - Scorecard and Match Results,www.cricbuzz.com/live-cricket-scores/

In [ ]:
df_lv_tmExp= df_lv_norM['typeMatches'].explode()
df_lv_tmExp

0    {'matchType': 'League', 'seriesMatches': [{'se...
0    {'matchType': 'Domestic', 'seriesMatches': [{'...
Name: typeMatches, dtype: object

In [ ]:
df_lv_tm = pd.json_normalize(df_lv_tmExp)
df_lv_tm.head()

  matchType                                      seriesMatches
0    League  [{'seriesAdWrapper': {'seriesId': 9575, 'serie...
1  Domestic  [{'seriesAdWrapper': {'seriesId': 9557, 'serie...

In [ ]:
# i=0
# for i, var_t in df_lv_tm[matchType]:

In [ ]:
all_match_types = [mt for mt in df_lv_tm['matchType']] # storing values in a list for iterating
all_match_types

['League', 'Domestic']

In [ ]:
df = {}

for i, var_t in enumerate(all_match_types):
    dfs = df_lv_tm['seriesMatches'][df_lv_tm['matchType'] == var_t].explode()
    df_lv_i = pd.json_normalize(dfs)
    df_lv_i_exp = df_lv_i['seriesAdWrapper.matches'].explode()
    
    keys = f"df_lv_{var_t}"
    
    df[keys] = pd.json_normalize(df_lv_i_exp)
    print(f"{keys}")
    print(df[keys].head())   # print first few rows


    #     # df_lv_i_exp =df_lv_i['seriesAdWrapper.matches'].explode()
    #     # df_lv_i_MD= pd.json_normalize(df_lv_i_exp)
    #     print(df_lv_i)
    #     j+=1

df_lv_League
   matchInfo.matchId  matchInfo.seriesId           matchInfo.seriesName  \
0             116774                9575  Caribbean Premier League 2025

  matchInfo.matchDesc matchInfo.matchFormat matchInfo.startDate  \
0          25th Match                   T20       1757289600000

  matchInfo.endDate matchInfo.state  \
0     1757302200000        Complete

                            matchInfo.status  matchInfo.team1.teamId  ...  \
0  St Kitts and Nevis Patriots won by 5 runs                     302  ...

  matchInfo.isTimeAnnounced matchInfo.stateTitle  \
0                      True             Complete

   matchScore.team1Score.inngs1.inningsId  matchScore.team1Score.inngs1.runs  \
0                                       1                                149

  matchScore.team1Score.inngs1.wickets matchScore.team1Score.inngs1.overs  \
0                                    6                               19.6

   matchScore.team2Score.inngs1.inningsId  matchScore.team2Score.inngs1.runs  \
0                                       2                                144

  matchScore.team2Score.inngs1.wickets matchScore.team2Score.inngs1.overs
0                                    8                               19.6

[1 rows x 36 columns]
df_lv_Domestic
   matchInfo.matchId  matchInfo.seriesId  \
0             116495                9557

                       matchInfo.seriesName  matchInfo.matchDesc  \
0  New Zealand A tour of South Africa, 2025  1st Unofficial Test

  matchInfo.matchFormat matchInfo.startDate matchInfo.endDate matchInfo.state  \
0                  TEST       1757232000000     1757516400000          Stumps

  matchInfo.status  matchInfo.team1.teamId  ... matchInfo.venueInfo.longitude  \
0    Day 1: Stumps                      80  ...                     27.100691

  matchInfo.currBatTeamId  matchInfo.seriesStartDt  matchInfo.seriesEndDt  \
0                      80            1756425600000          1758153600000

  matchInfo.isTimeAnnounced matchInfo.stateTitle  \
0                      True               Stumps

   matchScore.team1Score.inngs1.inningsId  matchScore.team1Score.inngs1.runs  \
0                                       1                                357

  matchScore.team1Score.inngs1.wickets matchScore.team1Score.inngs1.overs
0                                    1                               75.6

[1 rows x 32 columns]

In [ ]:
def lv_func():
    return keys, df[keys]

In [ ]:
def json_normlZer(df):
    df_n=pd.json_normalize(df)
    return df_n

In [ ]:
def json_exploder(dfEXP):
    df_explode= dfEXP.explode()
    df_norm= json_normlZer(df_explode)
    return df_norm

In [ ]:
# df_lv_tm

In [ ]:
def fn_liveDataMatches():
    df = {}
    for i, var_t in enumerate(all_match_types):
        dfs = json_exploder(df_lv_tm['seriesMatches'][df_lv_tm['matchType'] == var_t])
        df_lv_i = json_normlZer(dfs)
        keys = f"df_live_{var_t}"
        df[keys] = json_exploder(df_lv_i['seriesAdWrapper.matches'])
    return(keys)
    return(df[keys])

In [ ]:
import psycopg2 as pg_conn

In [ ]:
def connection_myAdmin( ):
        cont_myd =  pg_conn.connect(database = "Crick_biz", 
                                      host='localhost',user='postgres', password=' @rihantPSQL321', port='5432'
                                      )
        cur_agAdm = cont_myd.cursor()
        return cont_myd, cur_agAdm

In [ ]:
def_instance= connection_myAdmin()
def_instance

(<connection object at 0x000001FCD54D3560; dsn: 'user=postgres password=xxx dbname=Crick_biz host=localhost port=5432', closed: 0>,
 <cursor object at 0x000001FCD5DD1FC0; closed: 0>)

In [97]:
team_json=call_rapid(url="https://cricbuzz-cricket.p.rapidapi.com/teams/v1/international")

In [98]:
# import pandas as pd
print(team_json)

{'message': 'You have exceeded the MONTHLY quota for Requests on your current plan, BASIC. Upgrade your plan at https://rapidapi.com/cricketapilive/api/cricbuzz-cricket'}

In [11]:
import requests
import ipython_pygments_lexers

In [25]:
webcontent= requests.get("https://zylalabs.com/api/889/cricket+api/685/fetch+cricket+series")
webcontent.status_code

401

In [23]:
webcontent.content

b'Please set a user-agent and respect our robot policy https://w.wiki/4wJS. See also T400119.\n'

In [26]:
# webZ = pd.read_html("https://en.wikipedia.org/wiki/Mobile_telephone_numbering_in_India")
# print(webZ)